.reductions__action {
  border-style: outset;
  border-radius: 20px;
  border-width: 5px;
  border-color: whitesmoke;
  display: flex;
  flex-flow: column;
}

.reductions__action button {
  border: none;
}
