.main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(12, [row-start] 1fr);
  gap: 10px;
  margin: 10px;
}

.main__info {
  grid-column: 1/-1;
  grid-row: 1;
}

.main__inputs {
  grid-column: col-start/3;
  grid-row: 2/12;
}

.main__chart-wrapper {
  grid-column: 3/12;
  grid-row: 2/12;
  position: relative;
}

.main__aside {
  grid-column: 12/-1;
  grid-row: 2/12;
}

.main__footer {
  grid-column: col-start/-1;
  grid-row: 12;
}
