.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transition: height 0.3s ease-out;
  background: white;
  z-index: 100;
}

.overlay--open {
  height: 100%;
}

.overlay--closed {
  height: 0;
}

.close-button {
  width: 10px;
  margin: 10px 10px 10px auto;
  margin-left: auto;
  margin-right: 10px;
}
