.riverchart__river__stripe {
  display: flex;
  justify-content: center;
}

.riverchart__river__stripe--emission {
  position: relative;
}

.riverchart__river__stripe--reduction {
  position: absolute;
  width: 100%;
}

.riverchart__river__stripe > p {
  margin: 0;
}
